@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    @apply snap-y scroll-smooth w-screen;
    background-color: #111932;
}

.section {
    @apply h-screen w-screen snap-center pl-[5rem];
}

.box {
    width: 100%;
    border-radius: 28% 72% 61% 39% / 40% 61% 39% 60%  ;
    // background: rgba(12,17,40,0.9);
    // background: linear-gradient(160deg, rgba(12,17,40,0.8) 0%, rgba(39, 49, 81,0.9) 100%);
    animation-name: blob;
    animation-duration: 3s;
    animation-iteration-count: 2;
}

.profileImg {
    animation-name: float;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    position: relative !important;
}

@keyframes float {
    0% {
        top: -2rem;
    }

    50% {
        top: 2rem;
    }

    100% {
        top: 0rem;
    }
}

@keyframes blob {
    0% {
        border-radius: 30% 70% 70% 30% / 30% 46% 54% 70%;
    }
    25% {
        border-radius: 30% 70% 70% 30% / 30% 46% 54% 70%;
    }
    50% {
        border-radius: 57% 43% 61% 39% / 55% 34% 66% 45%;
    }
    75% {
        border-radius: 30% 70% 70% 30% / 30% 46% 54% 70%;
    }
    100% {
        border-radius: 30% 70% 70% 30% / 30% 46% 54% 70%;
    }
}
